<% provide(:title, @user.name) %>

<h1>User Infomation</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




    <% if @user.posts.any? %>
      <h3>This User's Post (<%= @user.posts.count %>)</h3>
      
        <%= render @posts %>
        
      <%= will_paginate @posts %>
    <% end %>
