<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Microposts (<%= @user.posts.count %>)</h3>
      
      <ol class="posts">
      
        <%= render @posts %>
        
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>